{% extends 'base.html' %}
{% block content %}
<div class="container">
    <h1>Vaše registrace nebyla potvrzena</h1>
    <p>
        V případě jakéhokoliv dotazu nás můžete kontaktovat na adrese
        <a href="mailto:wikikonference@wikimedia.cz">wikikonference@wikimedia.cz</a>.
    </p>

    <p>Pokud chcete registraci potvrdit, můžete tak učinit skrz kliknutí na <a href="{{ url_for('confirm_registration', event_id=event.id, mail=participant.email, token=token) }}">tento odkaz</a>.</p>
</div>
{% endblock %}