{% extends 'base.html' %}
{% block content %}
<div class="container">
    <h1>Vaši registraci jste již potvrdil</h1>
    <p>
        Těšíme se na Vaši účast. V případě jakéhokoliv dotazu nás můžete kontaktovat na adrese
        <a href="mailto:wikikonference@wikimedia.cz">wikikonference@wikimedia.cz</a>.
    </p>

    <p>Pokud chcete potvrzení zrušit, můžete tak učinit skrz kliknutí na <a href="{{ url_for('unconfirm_registration', event_id=event.id, mail=participant.email, token=token) }}">tento odkaz</a>.</p>
</div>
{% endblock %}