<p>{{greeting}}</p>
<p>tímto potvrzujeme Vaši registraci na událost {{event}} {{year}}. Níže rekapitulujeme Vaši registraci:</p>

<h1>Rekapitulace registrace</h1>
<p>Prosím, zkontrolujte si údaje níže. Je-li v těchto údajích chyba, prosím, kontaktujte nás na {{from_email}}.</p>
<ul>
    <li>Jméno: {{data.first_name}}</li>
    <li>Příjmení: {{data.last_name}}</li>
    <li>E-mailová adresa: {{data.email}}</li>
    <li>Údaje zobrazené na visačce: {{data.display_on_card}}</li>
    <li>Bude pro Vás zajištěn oběd?: {{data.lunch}}</li>
</ul>

<p>
    Těšíme se na Vaši účast, <br>
    Martin Urbanec<br>
    Wikimedia Česká republika
</p>
<img src="https://wiki.wikimedia.cz/images/wmcz_logo.png" alt="Logo WMCZ">