<p>{{greeting}}</p>
<p>dle našich záznamů jste {{vyplnil}} se registroval na událost {{event}} {{year}}. Abychom mohli odhadnout, kolik přijde lidí, žádáme Vás o potvrzení Vaší registrace kliknutím na odkaz "Potvrdit registraci" níže. </p>

<a href="{{verify_link}}">Potvrdit registraci</a>

<p>Prosíme, neklikejte na tento odkaz, pokud se neplánujete Wikikonference zúčastnit. </p>

<p>Děkujeme Vám za Váš čas a těšíme se na Vaši účast, </p>
<p>Wikimedia Česká republika</p>
<img src="https://wiki.wikimedia.cz/images/wmcz_logo.png" alt="Logo WMCZ">